[Unit]
Description=ProximaX Sirius Storage DFMS Client

[Service]
Type=simple
User=USERNAME
ExecStart=/usr/local/bin/dfms-client
[Install]
WantedBy=multi-user.target